@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}

.home {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 88vh;
  background: url("https://image.freepik.com/free-photo/movie-time-text-with-3d-glasses-spilled-popcorn-red-background_23-2148188178.jpg")
    no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-size: cover;
  font-size: 2.5em;
  color: black;
}

.home h1 {
  font-weight: bold;
  letter-spacing: 1.5px;
  font-family: "Hammersmith One", sans-serif;
}

.home h2 {
  font-style: oblique;
}
