.movie-container {
  font-size: 18px;
}

.inner-container {
  display: flex;
  margin: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-container .movie-image {
  padding: 20px;
  border: 18px double gray;
}

.inner-container .movie-image img {
  position: relative;
}

.info .votes {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: greenyellow;
  line-height: 70px;
  text-align: center;
  color: black;
  font-size: 1.2em;
  position: absolute;
  top: 580px;
}

.info h2 {
  text-shadow: 0 1px 10px ivory;
  font-size: 2.2em;
}

.info .link {
  background: green;
  padding: 10px;
  text-align: center;
  box-shadow: 5px 5px 2px rgba(0, 240, 0, 0.4);
  cursor: pointer;
  font-size: 1.5em;
}

.info .link a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: bold;
  font-size: 1.12em;
}

.summary {
  margin: 5px;
  display: flex;
  flex-direction: column;
  border: 2px dashed gray;
}

.summary h2 {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid white;
}

.summary div {
  letter-spacing: 1.2px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.summary .genres {
  width: 90%;
  background: rgba(230, 0, 0, 0.5);
  padding: 5px;
}

.production p {
  font-weight: bolder;
}

.product {
  text-align: center;
  border: 5px inset white;
}
.backdrop {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.backdrop img {
  margin: 0 auto;
}

@media (max-width: 700px) {
  .inner-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .info h2 {
    font-size: 1.3em;
  }

  .info .link,
  .info .link a {
    font-size: 1em;
  }

  .info .votes {
    position: absolute;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 1em;
    top: 480px;
    left: 380px;
  }
}
